<md-content class="page-content" id="reward-summary" 
  md-theme='rewardTheme'>
 <div layout="column" layout-align="center" >

    <div class="gap"></div>
    <md-button class="md-primary" ng-click="rewsum.showConfirm($event)">
      Click Me!!
    </md-button>
    <div class="gap"></div>
<!--     <md-button class="md-accent" ng-click="showAdvanced($event)">
      Custom Dialog
    </md-button>
  </div> -->

    <b layout="row" layout-align="center center" layout-margin>
    {{rewsum.alert}}
  </b>
</md-content>