
  <md-content class="page-content" id="home">

<!--     <div class="section1">
      <md-button ng-href="#/something" >Learn More » <md-button>
    </div> -->

    <div class="section2">
      <div class="home-button-box">
        <md-button md-theme="receiptTheme" class="md-raised md-primary" 
          ng-href="#/receipts"> Receipts    
        </md-button>
        <md-button md-theme="rewardTheme" class="md-raised md-primary" 
          ng-href="#/rewards"> Rewards    
        </md-button>
        <md-button md-theme="trendTheme" class="md-raised md-primary" 
          ng-href="#/trends"> Trends    
          </md-button>
        <md-button md-theme="favoriteTheme" class="md-raised md-primary" 
          ng-href="#/favorites"> Favorites    
        </md-button>
      </div>
    </div>
    
    <div class="section3">
      <p> Capture or email receipts &amp; rewards to </p>
      <md-button ng-href="mailto:mia@ziploop.com"> mia@ziploop.com </md-button>
    </div>   

  </md-content>
